[submodule ".vim/bundle/alchemist-vim"]
	path = .vim/bundle/alchemist-vim
	url = git@github.com:slashmili/alchemist.vim.git
[submodule ".vim/bundle/ctrlp-vim"]
	path = .vim/bundle/ctrlp-vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/bundle/vim-marked"]
	path = .vim/bundle/vim-marked
	url = git@github.com:itspriddle/vim-marked.git
[submodule ".vim/bundle/vim-mix"]
	path = .vim/bundle/vim-mix
	url = git@github.com:mattreduce/vim-mix.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/elm-vim"]
	path = .vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
