[submodule ".vim/bundle/alchemist-vim"]
	path = .vim/bundle/alchemist-vim
	url = git@github.com:slashmili/alchemist.vim.git
[submodule ".vim/bundle/ctrlp-vim"]
	path = .vim/bundle/ctrlp-vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
